<div class="inner">
	<div class="logo">
		<img src="/public/images/logo.png"/>
	</div>
	<div class="nav-container">
		<nav>
			<a href="/admin">Manage Contacts</a>
			<a href="/logout">Logout</a>
		</nav>
	</div>
</div>