<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <div class="welcome-message">
            <h2 class="title">Welcome to my portfolio,</h2>
            <p>
                I am Mansi Mehindru, a passionate and dedicated student. Take a pass through the website to know more about me, the services I offer and the projects I have completed.
                <br/><br/>
                Feel free to contact me for any work related queries or to collaborate in a project.
            </p>
            <a href="/contact" class="button">Contact</a>
        </div>
        <figure class="quote">
            <blockquote>
                I have loved programming since I was 16 and my love for it has grown ever since. Striving to learn and keep up to date with new technologies is what I love!
            </blockquote>
            <figcaption>
            <cite>My Mission Statement</cite></figcaption>
        </figure>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>