<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
        <section class="login">
            <form method="GET" action="/login/auth/" id="login-form" class="form">
                <h1 class="caption">Manage</h1>
                <div class="fieldgroup"><input autocomplete="off" type="text" name="username" class="textbox" placeholder="Username"/></div>
                <div class="fieldgroup"><input type="password" name="password" class="textbox" placeholder="Password"/></div>
                <div class="fieldgroup">
                    <input class="button" type="submit" value="Login"/><br/>
                    <%= auth_status %>
                </div>
            </form>
        </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>