<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
    <header id="header">
        <%- include('../partials/header'); %>
    </header>
    <main id="main">
       <section class="projects">
            <h1 class="section-title">Projects I made,</h1>
                <div class="cards-container">
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project-1.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Computer Store</h4>
                        <p>
                            A project housing ecommerce cart in a simulated computer store.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project-2.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">Lottery Ticket Generator</h4>
                        <p>
                            A small app which could generate unique lottery tickets.
                        </p>
                    </div>
                </div>
                <div class="image-card-1">
                    <div class="image">
                        <img src="public/images/project-3.png"/>
                    </div>
                    <div class="content">
                        <h4 class="title">RPG Character Creator</h4>
                        <p>
                           RPG Creator is a GUI based RPG character creator
                        </p>
                    </div>
                </div>
            </div>
       </section>
    </main>
    <footer id="footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>